name: Workflow 2

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call-reusable-workflow:
    uses: AshishGodse/SHA-Test-Repo-Common/.github/workflows/workflow-X.yml@f21a2e3c641833b15476b08797081ce06709eea9
    with:
      environment: staging